.box {
    width: 250px;
    height: 300px;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    padding: 10px;
    float: left;
}

.btn {
    float: right;
}

textarea {
    resize: none;
    outline: none;
    width: 100%;
}

button {
    background: none;
    outline: none;
    border: 1px solid #2a27c4;
    color: #2a27c4;
    font-weight: 600;
    margin-top: 20px;
  }

input[type='text'] {
    width: 100%;
    outline: none;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}